[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:jrmejiaa/kickstart.nvim.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule ".config/tmux/plugins/tmux-yank"]
	path = .config/tmux/plugins/tmux-yank
	url = git@github.com:tmux-plugins/tmux-yank.git
[submodule ".config/tmux/plugins/tmux"]
	path = .config/tmux/plugins/tmux
	url = git@github.com:catppuccin/tmux.git
